.alata-regular {
  font-family: "Alata", sans-serif;
  font-weight: 400;
  font-style: normal;
}
* 
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  text-align: center;
  font-family: Alata, sans-serif;
  line-height: 1.6;
  background: #fcfbfb;   
  color: #000000;        
}


header {
  background: #3c3c3c;
  color: #fff;
  padding: 12px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

nav a {
  color: #c5c7c9; 
  margin: 0 10px;
  text-decoration: none;
  font-weight: bold;
}
nav a:hover {
  text-decoration: underline;
}

section {
  padding: 40px 20px;
  max-width: 900px;
  margin: auto;
}

h1, h2 {
  margin-bottom: 20px;
  
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
}

.card {
  background: #e5e5e7;
  padding: 15px;
  border: 1px solid #333;
  border-radius: 8px;
  text-align: center;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
.card img {
  width: 100%;
  border-radius: 5px;
  margin-bottom: 10px;
}
.card h3 {
  margin-bottom: 10px;
  color: #000000;
}

form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
input, textarea {
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background: #e5e5e7;
  color: #0b0b0b;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
button {

  padding: 10px;
  background: #999898;  
  color: #121212;       
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}
button:hover {
  background: #02b4b7;
}
body.dark {
  background: #2b2b2b;
  color: #bab9b9;
}

body.dark .card {
  background: #1e1e1e;
  color: #e0e0e0;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}

body.dark header {
  background: #1e1e1e;
  color: #b3b5b6;
}
body.dark input, body.dark textarea {
background: #1e1e1e;
  color: #b3b5b6;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.2);
}
body.dark .card h3 {
  margin-bottom: 10px;
  color: #b3b5b6;
}
#theme{

    position: fixed;
  top: 20px ;
  right: 20px;
  z-index: 1000;
}
